<!DOCTYPE html>
<html>
<head>
    <title>GuiStomp</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- see https://getbootstrap.com/docs/4.4/getting-started/introduction/
             https://getbootstrap.com/docs/4.0/getting-started/download/
             https://getbootstrap.com/docs/5.0/getting-started/download/
             https://getbootstrap.com/ -->
    <!-- <link href="/main.css" rel="stylesheet"> -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <!-- <script src="/webjars/sockjs-client/sockjs.min.js"></script> -->
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<h1>GuiSTOMP</h1>

<p>Welcome to <b><span th:text="${arg}">Our Arg</span></b>.</p>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="input">Input</label>
                    <input type="text" id="input" class="form-control" placeholder="Input here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Output Area</th>
                    </tr>
                    </thead>
                    <tbody id="output">
                    </tbody>
                </table>
            </div>
        </div>
</div>

<script src="/wsStomp.js"></script>

</body>
</html>
